{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title | default: "Untitled" %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    
    {% if post.collection == 'publications' %}
      <!-- No title link for publications - just show as citation list -->
    {% elsif post.link %}
      <h2 class="archive__item-title" itemprop="headline">
          <a href="{{ post.link }}">{{ title | default: "Untitled" }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      </h2>
    {% else %}
      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title | default: "Untitled" }}</a>
      </h2>
    {% endif %}
    
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.collection == 'teaching' %}
      <p> {{ post.type | default: "Course" }}, <i>{{ post.venue | default: "Unknown Venue" }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% elsif post.collection == 'publications' %}
      <!-- Display publication as proper list item with citation -->
      <div style="margin-bottom: 0.75em; margin-left: 0; position: relative;">
        <div style="display: flex; align-items: flex-start;">
          <span style="margin-right: 0.5em; margin-top: 0.1em;">•</span>
          <div style="flex: 1;">
            {% if post.citation_with_links and post.citation_with_links != "" %}
              {{ post.citation_with_links }}
            {% elsif post.citation and post.citation != "" %}
              {{ post.citation }}
            {% else %}
              {% if post.title and post.title != "" %}{{ post.title }}{% else %}Untitled Publication{% endif %}
            {% endif %}
            
            <!-- Add links on new line if any exist -->
            {% if post.paperurl or post.arxivurl or post.bibtexurl or post.doiurl %}
              <br>
              {% assign has_paper = false %}
              {% assign has_arxiv = false %}
              {% assign has_bibtex = false %}
              {% assign has_doi = false %}
              {% assign has_slides = false %}
              
              {% if post.paperurl and post.paperurl != "" %}
                <a href="{{ post.paperurl }}" style="text-decoration: none;">Download</a>
                {% assign has_paper = true %}
              {% endif %}
              
              {% if post.arxivurl and post.arxivurl != "" %}
                {% if has_paper %} | {% endif %}<a href="{{ post.arxivurl }}" style="text-decoration: none;">arXiv</a>
                {% assign has_arxiv = true %}
              {% endif %}
              
              {% if post.bibtexurl and post.bibtexurl != "" %}
                {% if has_paper or has_arxiv %} | {% endif %}<a href="{{ post.bibtexurl }}" style="text-decoration: none;">BibTeX</a>
                {% assign has_bibtex = true %}
              {% endif %}
              
              {% if post.doiurl and post.doiurl != "" %}
                {% if has_paper or has_arxiv or has_bibtex %} | {% endif %}<a href="{{ post.doiurl }}" style="text-decoration: none;">DOI</a>
                {% assign has_doi = true %}
              {% endif %}

              {% if post.slidesurl and post.slidesurl != "" %}
                {% if has_paper or has_arxiv or has_bibtex or has_doi %} | {% endif %}<a href="{{ post.slidesurl }}" style="text-decoration: none;">Slides</a>
                {% assign has_slides = true %}
              {% endif %}

              {% if post.code and post.code != "" %}
                {% if has_paper or has_arxiv or has_bibtex or has_doi or has_slides %} | {% endif %}<a href="{{ post.code }}" style="text-decoration: none;">Code</a>
              {% endif %}
              </span>
            {% endif %}
            
            <!-- Add abstract on new line if it exists -->
            <!-- {% if post.abstract and post.abstract != "" %}
              <br>
              <span style="margin-left: 1em;">
                <details class="abstract-toggle" style="display: inline-block;">
                  <summary style="cursor: pointer;"><strong>Abstract</strong></summary>
                  <div class="abstract-content arithmatex" style="margin-top: 0.5em; margin-left: 1em;">
                    {{ post.abstract | markdownify }}
                  </div>
                </details>
              </span>
            {% endif %} -->
          </div>
        </div>
      </div>
    {% elsif post.date %}
     <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
    {% endif %}

    {% if post.excerpt and post.excerpt != "" and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and post.excerpt != "" and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p>
    {% endif %}

  </article>
</div>
