{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <!-- Display talk as proper list item with title and details -->
    <div style="margin-bottom: 1.5em; margin-left: 0; position: relative;">
      <div style="display: flex; align-items: flex-start;">
        <span style="margin-right: 0.5em; margin-top: 0.1em;">•</span>
        <div style="flex: 1;">
          {% if post.type %}<strong>{{ post.type }}</strong>{% endif %}
          {% if post.date %} ({{ post.date | date: '%B %Y' }}){% endif %}
          {% if post.venue or post.location or post.type %}
            <br>
            {% if post.venue %}{% if post.type %}, {% endif %}<em>{{ post.venue }}</em>{% endif %}{% if post.location %}{% if post.venue or post.type %}, {% endif %}{{ post.location }}{% endif %}
          {% endif %}
          
          <!-- Add links on new line if any exist -->
          {% if post.url or post.paperurl or post.slidesurl or post.videourl %}
            <br>
            <!-- {% if post.url %}<a href="{{ base_path }}{{ post.url }}">Details</a>{% endif %} -->
            {% if post.paperurl %}<a href="{{ post.paperurl }}">Paper</a>{% endif %}
            {% if post.slidesurl %}{% if post.paperurl %} | {% endif %}<a href="{{ post.slidesurl }}">Slides</a>{% endif %}
            {% if post.videourl %}{% if post.paperurl or post.slidesurl %} | {% endif %}<a href="{{ post.videourl }}">Video</a>{% endif %}
          {% endif %}
          
          <!-- Add abstract/description if it exists -->
          {% if post.abstract %}
            <br>
            <span style="margin-left: 1em;">
              <details class="abstract-toggle" style="display: inline-block;">
                <summary style="cursor: pointer;"><strong>Abstract</strong></summary>
                <div class="abstract-content arithmatex" style="margin-top: 0.5em; margin-left: 1em;">
                  {{ post.abstract }}
                </div>
              </details>
            </span>
          {% endif %}
        </div>
      </div>
    </div>
  </article>
</div>
