{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title | default: "Untitled Talk" %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <!-- Display talk as proper list item with title and details -->
    <div style="margin-bottom: 0.75em; margin-left: 0; position: relative;">
      <div style="display: flex; align-items: flex-start;">
        <span style="margin-right: 0.5em; margin-top: 0.1em;">•</span>
        <div style="flex: 1;">
          {% if post.title and post.title != "" %}
            <strong>{{ post.title }}</strong>
          {% else %}
            Presentation
          {% endif %}
          {% if post.date and post.date != "" %} ({{ post.date | date: '%B %Y' }}){% endif %}{% if post.date and post.date != "" and ((post.venue and post.venue != "") or (post.location and post.location != "")) %},{% endif %}
          {% if (post.venue and post.venue != "") or (post.location and post.location != "") %}
            {% if post.venue and post.venue != "" %} <em>{{ post.venue }}</em>{% endif %}
            {% if post.location and post.location != "" %}({{ post.location }}){% endif %}
          {% endif %}
          
          <!-- Add links on new line if any exist -->
          {% if post.paperurl or post.slidesurl or post.videourl %}
            <br>
          {% endif %}
          {% assign has_paper = false %}
          {% assign has_slides = false %}
          {% assign has_poster = false %}
          {% assign has_video = false %}
          
          {% if post.paperurl and post.paperurl != "" %}
            <a href="{{ post.paperurl }}">Paper</a>
            {% assign has_paper = true %}
          {% endif %}
          
          {% if post.slidesurl and post.slidesurl != "" %}
            {% if has_paper %} | {% endif %}<a href="{{ post.slidesurl }}">Slides</a>
            {% assign has_slides = true %}
          {% endif %}

          {% if post.posterurl and post.posterurl != "" %}
            {% if has_paper or has_slides %} | {% endif %}<a href="{{ post.posterurl }}">Poster</a>
            {% assign has_poster = true %}
          {% endif %}

          {% if post.videourl and post.videourl != "" %}
            {% if has_paper or has_slides or has_poster %} | {% endif %}<a href="{{ post.videourl }}">Video</a>
            {% assign has_video = true %}
          {% endif %}

          
          <!-- Add abstract/description if it exists -->
          <!-- {% if post.abstract and post.abstract != "" %}
            <br>
            <span style="margin-left: 1em;">
              <details class="abstract-toggle" style="display: inline-block;">
                <summary style="cursor: pointer;"><strong>Abstract</strong></summary>
                <div class="abstract-content arithmatex" style="margin-top: 0.5em; margin-left: 1em;">
                  {{ post.abstract }}
                </div>
              </details>
            </span>
          {% endif %} -->
        </div>
      </div>
    </div>
  </article>
</div>
